header{
  width:980px;
  height:140px;
  background-color: #0D7962;
  border:2px dashed red;
  margin:auto;
}
maim{
  width:980px;
  height:450px;
  background-color: #0D7962;
  border:2px dashed black;
  margin:auto;
}

footer{
  width:980px;
  height:140px;
  background-color: #0D7962;
  border:2px dashed black;
  margin:auto;
}